  <% @events.each do |event|  %>
    <section class="event">
      <div class="image">
        <%= image_tag event.image_file_name %>
      </div>
      <div class="summary">
        <h2><%= link_to event.name, event %></strong>
        <h3><%= day_and_time(event) %> in <%= event.location %></h3>
        <span class="price">
          <%= price(event) %>
        </span>
      <p>
        <%= truncate(event.description, length: 35, separator: ' ') %>
      </p>
    </div>
  </section>
  <% end %>

  <section class="admin">
    <%= link_to "Add New Event", new_event_path, class: "button" %>
  </section>
