    <header>
      <nav>
        <%= link_to image_tag("logo.png"), root_path %>
        <ul>
          <li>
            <%= link_to "All Events", events_path %>
          </li>
        </ul>
    </header>
